<h1><%= t('generic.recipes') %></h1>
<div class="row">
  <% if !@recipes.empty? %>
    <%= render partial: 'shared/recipes', collection: @recipes, as: :item %>
  <% else %>
    <div class="col-md-5">
      <%= t('info.no_result', result: t('generic.recipes')) %>
    </div>
  <% end %>
</div>
