<div class="row">
  <section class="col-md-6">
    <h2><%= t('generic.last_recipes') %></h2>
    <%= render partial: 'recipes', collection: @recipes, as: :item %>
  </section>
  <section class="col-md-6">
    <h2><%= t('generic.favorite_recipes') %></h2>
    <%= render partial: 'recipes', collection: @recipes_favorites, as: :item %>
  </section>
</div>
